
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="javascripts/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.2/handlebars.min.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/scripts.js")

